
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    font-size: 16px;
}

body {
    font-family: 'Lato', sans-serif;
    position: relative;
}

.header-wrapper {
    box-shadow: 0px 1px 10px 2px rgb(10 10 10 / 25%);
    position: fixed;
    z-index: 10;
    width: 100%;
}

.main-wrapper {
    background-color: #ddd;
    min-height: 45rem;
    padding: 5rem 1rem;    
}

.footer-wrapper {
    background-color: #fff;
    min-height: 4rem;
    align-items: center;
    padding: 1rem;
}

.grid-container {

    display: grid;
    grid-template-columns: 1fr;    
    /* grid-template-rows: minmax(10rem, 40rem); */
    grid-gap: 1rem;
    margin: auto;    
    /* grid-auto-flow: column; */
    /* grid-auto-rows: minmax(10rem, 40rem); */
}

.grid-inner {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 1fr;
    /*grid-auto-rows: minmax(min-content, 45rem);*/
    /* grid-template-rows: minmax(0, 1fr); */
    /* grid-gap: 0.5rem; */
}

.grid-item {
    /* height: 100%;     */
       position: relative;
}

.grid-img {
    /* position: relative; */
    width: 100% !important;
    min-height: 100%;
    height: auto;
    display: block;    
    object-fit: cover;    
    z-index: -2;
    transition: 0.255s ease;   
    max-height: 50rem !important; 
}

.grid-item:hover .img-details  {    
    opacity: 1;
}

.img-details {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;    
    /* z-index: 10; */
    transition: 0.25s ease;
    background: rgba(10, 10, 10, 0.25);
}

.img-details > .img-text {
    position: absolute;
    top: 50%;
    color: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-details > a {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.overlay {
    height: 100%;
    width: 100%;    
    background-color: rgba(10, 10, 50, 0.35);
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: saturate(1.8) blur(15px);
}

.overlay h1 {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.background {
    position: relative !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    min-height: 50rem;
    background-size: cover;
    /* background: url(https://images.unsplash.com/photo-1624915422815-a7d76149d1e3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80); */
    /* Alt backgrounds:
        photo-1616964029520-6f3274003a7f
        photo-1540175837026-c00e5be3177c
     */
    background: url(https://images.unsplash.com/photo-1503776768674-0e612f631345?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2650&q=80);
    background-position: center;
    background-color: #000;
}

/* BEGIN Custom Bootstrap CSS */

/* Fixes navbar button displacement at a certain window size */
.navbar-nav.mt-2 {
    margin-top: 0 !important;
}

.navbar.bg-dark {
    background-color: rgb(0 0 0 / 72%) !important;
    backdrop-filter: saturate(1.8) blur(20px) !important;
}

.navbar-nav .btn {
    padding: .2rem .4rem .2rem .4rem;
    min-width: 5rem;
    border-radius: 0;
}

ul.navbar-nav li:only-child .btn {
     border-radius: 50px;
}

.navbar-nav .btn-outline-primary {
    color: #3575ba;
    border-color: #3575ba;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    min-width: 7rem;
}

.navbar-nav .btn-outline-primary:hover {
    color: #efefef;
    background-color: #295482;
    border-color: #295482;
}

.navbar-nav .btn-outline-dark {
    color: #b7bbbe;
    border-color: #6a7276;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.navbar-nav .btn-outline-dark:hover {
    color: #d3d3d3;
    background-color: #0a0a0a;
    border-color: #363636;
}

/* END Custom Bootstrap CSS */

@media screen and (min-width:415px) and (max-width: 767.98px) {    

    .grid-inner {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}

@media screen and (min-width: 767.99px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);         
        width: 80%;               
    }  
}

@media only screen and (max-width: 500px) {
    .navbar-nav .btn-outline-primary,
    .navbar-nav .btn-outline-dark {
        border-radius: 0;
        min-width: 2.5rem;
    }
}